<h1>Welcome to the WDI - LA Chat! | BETA</h1>
<h3>I missed you...</h3>

<div id="message_box">
	<% @messages.each do |m| %>
	<div class="message">
		Message Body: <%= m.body %><br>
	</div>
	<% end %>
</div>

<div id="text_box">
	<%= form_for :message do |f| %>
	<%= f.label :message %>
	<%= f.text_field :message %>
	<%= f.submit "Post!", class: "btn btn-md btn-primary"%>
	<% end %>
</div>